# Python files
__pycache__/
*.py[cod]

# Environment files
*.env
*.venv/
venv/

# IDE or editor folders
.vscode/
.idea/
.DS_Store

# Docker artifacts
*.log

# Ignore images or screenshots 
*.png
*.jpg
*.jpeg

# Ignore unnecessary system files
Thumbs.db
desktop.ini
